{% extends 'invoices/base.html' %}
{% block title %}Register — Invoice Shop{% endblock %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
<div class="content-grid bg-2 row-1">
  <div class="grid-item-1 heading-1">
    
    <h1>Tajir <span>Asani</span></h1>
    <p>Professional Invoice Management</p>

       </div>

 </div> 
<div class="content-grid bg-2 row-2">
  <div class="grid-item-1">
 

       </div>
 <div class="grid-item-1">
 
  <p class="auth-title">Account Request</p>

  <div class="info">
    New accounts can only be created by the administrator.
    Please contact the administrator to obtain login credentials.
    <br>   <br>
    Contact: 03447092215
  </div>

  <div class="auth-link">
    <a href="{% url 'login' %}">
    <button type="submit" class="button2">Login →</button></a>
  </div>
</div>
</div>
    
      

 

{% endblock %}
